
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}




/* P2 corresponde al boton de descarga*/
.p2
{
    display: flex;
    background-color: #af599e;
    color:  #fbfbfb;
    padding: 10px;
    border-radius: 35px;
    font-size: 20px;
    justify-content: center;
    align-items: center;  
    margin: 20px auto;
    max-width: 200px;
  }

  /*P4 es el fondo de Hablemos*/
  section#contacto {
   
    background-color:rgba(175, 89, 158, 0.3);
    padding: 30px 20px ;
    margin: 20% 5px;
    border-radius: 10px ;
    
  }
 /* P3 es el estilo del texto Hablemos*/
  .p3
  {
    display: flex;
    justify-content: center;   
    align-items: center;  
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 27px;
  
  
}

/* P5 es el estilo de la imagen principal*/
  .p5 {
    
    display: block;
    margin: auto;
    margin-top: 120px;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
  }

/* Estilo de heater*/

 header  {

    background-color: #fbfbfb;
    font-size: 20px;
    height: 90px;
    position: fixed;
    top: 0px;;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 10px -5px gray
     
    
 }

/*fuente*/
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

 /* Estilo de parrafo principal*/

 .p1{
     
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 36px;


}

/*Estilo Imagenes Inferiores*/

div{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 30px;
    
}

 /* Estilo footer*/

footer{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 90px;
    margin-top: 20px;
    padding: 20px;
    background-color: #af599e;
 
    

}

/* Estilo para parrafos*/
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin: 0 20px 0 20px;
}

/* a incluye 2 etiquetas por defecto que venian al descargar proyecto
 y tamaño y fuente de link*/

a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

/* css para header*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.logo img{
    max-width: 100%;
    height: auto;
}

.textologo{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
   
    
     
}

.textologo a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}
 
/* ... Código CSS previo ... */

@media (min-width: 1024px) {
   h1.p1 {
    display: block;  
    font-size: 48px;
      text-align: left;
      margin-left: 20px;
   }
   section#inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
   article.presentacion{
    display: block;
    width: 50%;
    text-align: left;
    margin-top: 200px;
   }
.destacado {
    text-align: justify;
    margin-right: -20%;

}
.p2 {
margin-left: 20px;
}
h2.p3{
    font-size: 32px;
}
section#contacto {
margin: 35% 20% 30px 20%;

}

.icon {
    margin: 50px 20% 50px 20%;
}
}



.textologo a.active, 
.textologo a:hover {
    background: rgba(175, 89, 158, 0.5);
    transition: background-color 2s;
}

/*
margin: 150px, 0px, 10px,2px;
margin: 150px, 0px, 10px,2px;


.p1{
        font-size: 38px;
        
    }

    p {
        font-size: 12px;
        
        margin-left: 457px
        
    }
    
    .p5 {
        margin: 180px 100px 100px 150px;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
        
    }
    /*